<div class="event">
  <div class="content">
    <div class="summary">
      <p><font style="vertical-align: inherit;"><a><%= message.user.username %></a><%= ": #{message.body}" %></font></p>
    </div>
  </div>
</div>